ul{
	margin: 0px;
}
#divOuter{
	margin:auto;
	width:1002px;
}

.menu li{
	list-style:none;
	display: inline-block;
	vertical-align: top;
	line-height: 70px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 700;
}

.menu li:hover{
	border-top: 3px solid #8B4513 ;
	line-height: 63px;
}

.menu img{
	margin-right: 70px;
}

.menu a{
	text-decoration: none;
	color: #8B4513;
}



.text{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	display: table;
	margin: 155px auto;
	width:1002px;

}

#nau{
	font-weight: 700;
	width: 70%;
	font-size:55px;
	font-family: sans-serif;
	margin-bottom: 20px;
	margin-left: 25px;
}

#ex{
	width: 50%;
	margin-left: 25px;
	text-align: left;
	font-size:15px;
	font-family: sans-serif;

}

.whi{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: table;
}

#num{
	color: #8B4513;
	font-size: 10px;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: 40px;
}

#whi-nam{
	font-size: 22px;
	width: 44.5%;
	margin-bottom: 80px;
	float: right;
	margin-right: 20px;
	font-family: sans-serif;
}

#triangle-bottom-right {
    width:0px;
    border-left: 10px solid transparent;
    border-bottom: 10px solid rgb(179, 137, 62);
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 0px;
}

#visi{
	font-size: 70px;
	color: #8B4513 ;
	margin-left: 100px;
	margin-top: 15px;
	float: left;
}

.down {
	position: relative;
	width: 100%;
}
.like p{
	position: absolute;
	color: #fff;
	text-align: center;
	width: 80%;
}
.like{
	font-size: 40px;
	line-height: 80px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin-top: 50px;
	margin-left: 150px;
	font-family: sans-serif;
}

.gr{
	color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display:inline;
	margin-top: 280px;
	text-align: center;
}
.gr img
{
	width: 40%
}
.our{
	position: absolute;
	font-size: 40px;
	border: solid;
   	border-color: #fff;
   	top: 0;
   	margin-top: 370px;
   	margin-left: 340px;
   	font-family: sans-serif;
}
.our a:hover{
	color: #8B4513;
}

.our a{
	text-decoration: none;
	color:#fff;
  	padding: 40px;
	line-height: 1.5em;
}

#llac{
	height: 130px;
	text-align: center;
	font-size: 30px;
	margin-top: 90px;
	font-family: sans-serif;
}
#llac a{
	text-decoration: none;
	color: #8B4513;
}
